@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
/* Global */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', sans-serif !important;
  height: 100%;
}

html {
  font-family: 'Work Sans', sans-serif !important;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

h1, h1, h3, h4, h5, p, a {
  font-family: 'Work Sans', sans-serif !important;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}

body div .App {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bottom {
  flex-grow: 1;
  overflow-y: auto;
}

.custom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
}

/* Loading Screen */
.loader {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background: #001529;
}

/* Sidebar  */

#left-sidebar {
  flex-shrink: 0;
  background: #001529;
  width: 220px;
}

#left-sidebar.closed {
  width: 0px;
}

.sidebar-top h4 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.ant-menu-item {
  padding-left: 30px !important;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin: 0px 20px;
}

/* Main Content */

#main-content {
  width: 100%;
}

#main-content .bottom {
  overflow: hidden;
  position: sticky;
  width: 100%;
}

/* Main Content Navbar */

.content-top {
  background: #001529;
  padding: 0px 20px;
}

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 70px;
}

h1.logo {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px;
}

.menu-trigger svg {
  font-size: 2em;
  color: #fff;
}

.menu-trigger {
  margin-left: 10px;
  cursor: pointer;
}

/* Right Nav Drop Menu */

.drop-menu {
  position: absolute;
  background: white;
  width: 150px;
  right: 10px;
  top: 68px;
  z-index: 1150;
  border-radius: 3px;
  min-height: 100px;
}

.drop-menu::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  top: -30px;
  right: 12px;
  border: 12px solid transparent;
  border-bottom: 20px solid #fff;
}

/* Map Marker */

.marker {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -20px;
  top: -20px;
  border: 6px solid #1890ff;
  border-radius: 40px;
  background-color: #fff;
  color: #1890ff;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -31px;
  left: 0px;
  border: 14px solid transparent;
  border-top: 17px solid #1890ff;
}

.marker.open, .marker:hover {
  border-color: #1890ff;
  background-color: #1890ff;
  color: #fff;
}

/* Marker Info Popover */

.info-popover {
  position: absolute;
  background: white;
  min-width: 150px;
  min-height: 50px;
  left: -73px;
  top: -90px;
  z-index: 1150;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-popover h3 {
  margin: 0;
}

.info-popover::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -18px;
  border: 8px solid transparent;
  border-top: 12px solid #fff;
  left: 66px;
}

/* Forcast Table */

ul.ant-pagination.ant-table-pagination {
  flex-direction: row;
}

td, th div {
  text-align: center;
}

.temp-container {
  display: flex;
  justify-content: space-between;
}

.temp-container h4 span {
  font-weight: normal;
}
